@model GauntletLeaderboard.Web.Models.LeaderboardViewModel

@{
    ViewBag.Title = "Leaderboard";
}

<h2>Leaderboard</h2>

@Html.Partial("_Groups", Model.Groups)
@Html.Partial("_SubGroups", Model.SubGroups)
@Html.Partial("_Leaderboards", Model.Leaderboards)

<div class="text-center">Special: @Model.Leaderboard.Special</div>
<table id="leaderboard" class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var entry in Model.Entries) {
        <tr>
            <td>@entry.Rank</td>
            <td>@entry.Player.PersonaName</td>
            <td>@entry.Score</td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("_Pager", Model)