@model GauntletLeaderboard.Web.Models.Home.LeaderboardViewModel
@using GauntletLeaderboard.Core.Extensions;

@{
    ViewBag.Title = string.Format("{0}::{1}::{2}", Model.Leaderboard.Group, Model.Leaderboard.SubGroup, Model.Leaderboard.Name);
}

@Html.Partial("_Groups", Model.Groups)
@Html.Partial("_SubGroups", Model.SubGroups)
@Html.Partial("_Leaderboards", Model.Leaderboards)

@if (@Model.Leaderboard.Special != null) {
<div id="leaderboard-special">Special: @Model.Leaderboard.Special</div>
}
<div id="leaderboard" class="@Model.Status">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var entry in Model.Entries) {
            <tr>
                <td>@entry.Rank</td>
                <td>
                @if (entry.Player.VanityName == null) {
                    @Html.ActionLink(entry.Player.PersonaName, "Details", "Players", new { id = entry.SteamId }, null)
                } else {
                    @Html.ActionLink(entry.Player.PersonaName, "DetailsByName", "Players", new { name = entry.Player.VanityName }, null)
                }
                </td>
                <td>
                @if (Model.FormatScoreAsTime) {
                    @entry.Score.ToTimeSpan().ToString("hh\\:mm\\:ss\\.fff")
                } else {
                    @entry.Score
                }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@Html.Partial("_Pager", Model)