<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gauntlet Leaderboards</title>
    @Styles.Render("~/Content/app")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Groups", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Leaderboards", "Groups", "Home")</li>
                </ul>
                <div class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Steam ID64 / Custom URL">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-default" data-path="@Url.Action("Search", "Players", new { id = "" })"><span class="fa fa-search" aria-hidden="true"></span></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        @RenderBody()

        <footer>
            <a href="http://steampowered.com" title="Powered by Steam" class="fa fa-steam-square"></a>
            <a href="https://github.com/Rfvgyhn/gauntlet-leaderboards" title="Fork Me" class="fa fa-github-square"></a>
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
