@model GauntletLeaderboard.Web.Models.Players.DetailsViewModel

@{
    ViewBag.Title = Model.Player.Profile.PersonaName;
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/player.js")"></script>
}

<div class="row steam-profile">
    <div class="col-md-3">
        <a href="@Model.Player.Profile.ProfileUrl">
            <img src="@Model.Player.Profile.AvatarMedium" class="avatar state-@Model.Player.Profile.PersonaState" title="@Model.Player.Profile.PersonaState" />
            <h2>@Model.Player.Profile.PersonaName</h2>
        </a>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
    @if (Model.Player.Profile.AchievementPercentage != null) {
        <div>
            Achievements: <a href="@Html.Raw(Model.Player.Profile.ProfileUrl)stats/258970/achievements/">@Model.Player.Profile.AchievementPercentage.Value.ToString("0%")</a>
        </div>
        
        <div id="badges">
            <span>Badges:</span>
        @if (Model.Player.Profile.Badges.Any()) {
            <ul>
            @foreach (var badge in Model.Player.Profile.Badges) {
                <li class="steambadge steambadge-@badge.BorderColor@badge.Level" title="Level @badge.Level"><span></span></li>
            }
            </ul>
        } else {
            <text>None</text>
        }
        </div>
    }
    </div>
</div>


<div>

</div>

@if (Model.Player.Entries.Any()) {
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Group</th>
            <th>Sub Group</th>
            <th>Map</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Player.Entries)
        {
            <tr>
                <td>@entry.Rank</td>
                <td>@entry.Leaderboard.Group</td>
                <td>@entry.Leaderboard.SubGroup</td>
                <td>@entry.Leaderboard.Name</td>
                <td>@entry.Score</td>
            </tr>
        }
    </tbody>
</table>
} else {
<p>No Leaderboard Entries</p>   
}
